<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:margin="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SignUp_Registration_Form</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>

  <div class = "container text-center">
      <div>
          <h1> User Registration Signup </h1>
      </div>
      <form th:action="@{/processRegister}" th:object="${user}"  method="post" style="max-width: 600px; margin: 0 auto;">
          <div class = "m-3">
              <div class = "form-group row">
                  <label class="col-form-label col-4">E-mail</label>
                  <div class="col-8">
                      <input type="email" class="form-control" th:field="*{email}"  required />
                  </div>
              </div>
              <br>
              <div class = "form-group row">
                  <label class="col-form-label col-4">Password</label>
                  <div class="col-8">
                      <input type="password" class="form-control" th:field="*{password}"  required  minlength="6" maxlength="10"/>
                  </div>
              </div>
              <br>
              <div class = "form-group row">
                  <label class="col-form-label col-4">FirstName</label>
                  <div class="col-8">
                      <input type="text" class="form-control" th:field="*{firstName}"  required minlength="2" maxlength="20"/>
                  </div>
              </div>
              <br>
              <div class = "form-group row">
                  <label class="col-form-label col-4">LastName</label>
                  <div class="col-8">
                      <input type="text" class="form-control" th:field="*{lastName}" required minlength="2" maxlength="20"/>
                 </div>
              </div>
              <br>
              <div class = "form-group row">
                  <label class="col-form-label col-4">Address</label>
                  <div class="col-8">
                      <input type="text" class="form-control" th:field="*{address}" required minlength="2" maxlength="20"/>
                  </div>
              </div>
              <br>
<!--              <div class = "form-group row">-->
<!--                  <label class="col-form-label col-4">Address</label>-->
<!--                  <label class="col-form-label col-4">District</label>-->
<!--                  <div class="col-8">-->
<!--                      <input type="text" class="form-control" th:field="*{district}"  />-->
<!--                  </div>-->
<!--                  <label class="col-form-label col-4">City</label>-->
<!--                  <div class="col-8">-->
<!--                      <input type="text" class="form-control" th:field="*{city}"  />-->
<!--                  </div>-->
<!--                  <label class="col-form-label col-4">State</label>-->
<!--                  <div class="col-8">-->
<!--                      <input type="text" class="form-control" th:field="*{state}"  />-->
<!--                  </div>-->
<!--                  <label class="col-form-label col-4">Pincode</label>-->
<!--                  <div class="col-8">-->
<!--                      <input type="number" class="form-control" th:field="*{pincode}"  />-->
<!--                  </div>-->
<!--              </div>-->

              <div>
                  <button type="submit" class="btn-btn-primary" >Sign Up</button>
              </div>
          </div>
      </form>
  </div>

</body>
</html>